* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: #e2bc6f;
  color: #e2bc6f;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f0f10;
}

::-webkit-scrollbar-thumb {
  background: #e2bc6f;
  border-radius: 4px;
}

::selection {
  background: #e2bc6f;
  color: #e2bc6f;
}